{% extends 'base.html.twig' %}

{% block title %}DashBoard{% endblock %}

{% block main %}


<div class="example-wrapper">
    <h1>DashBoard </h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/dashboard/src/Controller/DashboardController.php</code></li>
        <li>Your template at <code>/var/www/dashboard/templates/dashboard/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
