<form method="post" action="{{ path('app_argent_delete', {'id': argent.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ argent.id) }}">
    <button type="submit"
            class="px-4 py-2 bg-[#a31621] hover:bg-[#81101a] text-white font-semibold rounded-full shadow-md transition duration-300">
        ❌ Supprimer
    </button>
</form>
